@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* declaring global variable*/
:root{
  --theme-color: #350f5e;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
}
body{
  min-width: 100vh;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: 0 auto;
}
@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 100;}
}